.input{
    width: 425px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
  
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
  } 