{% extends 'base.html.twig' %}

{% block title %}Scolarite{% endblock %}

{% block body %}
<section class="container">
    <div class="row gy-4">
        {% for filiere in filieres %}
        <div class="col-lg-3">
            <div class="card p-3 text-center"> 
                <p class="card-title  display-2 fw-bold">
                    {{filiere.code}}
                </p>
                <p class="h3">
                    <a href="{{path("tmp_sco",{'code': filiere.code})}}" class="stretched-link text-dark" style='text-decoration: none'>{{filiere.libelle}}</a>
                </p>
               
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
